.form-control{
	min-height: 41px;
	background: #fff;
	box-shadow: none !important;
	border-color: #e3e3e3;}

.form-control:focus{
	border-color: #70c5c0;}

.form-control, .btn{
	border-radius: 2px;}

.form-signin, .form-menu{
	width: 350px;
	margin: 0 auto;
	padding: 100px 0 30px;}

.form-signin form, .form-menu form{
	color: #7a7a7a;
	border-radius: 2px;
    margin-bottom: 15px;
    font-size: 13px;
    background: #ececec;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;	
    position: relative;}

.form-signin h2, .form-menu h2{
	font-size: 22px;
    margin: 35px 0 25px;}

.form-signin .avatar, .form-menu .avatar{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -50px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #70c5c0;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);}

.form-signin .avatar img, .form-menu .avatar img{
	width: 100%;}	

.form-signin .btn, .form-menu .btn{
    font-size: 16px;
    font-weight: bold;
	background: #70c5c0;
	border: none;
	margin-bottom: 20px;}

.form-signin .btn:hover, .form-signin .btn:focus, .form-menu .btn:hover, .form-menu .btn:focus{
	background: #50b8b3;
    outline: none !important;}

#btnDanger{        
    font-size: 16px;
    font-weight: bold;
	background: #d47677;
	border: none;
	margin-bottom: 20px;}

#btnDanger:hover, #btnDanger:focus{
	background: #B4696A;
    outline: none !important;}

.form-signin a{
	color: #fff;
	text-decoration: underline;}

.form-signin a:hover{
	text-decoration: none;}